*.pyc
__pycache__
/fashion_data/
/results/
/reports/
/assets/
/checkpoints/
.ipynb_checkpoints/
/test_data/
*.code-workspace
/venv
*.pth

# Flask ignores
instance/
.webassets-cache
.env
imgs/
node_modules/

long_train.sh
*.rdb
