av
absl-py
astunparse
cachetools
certifi
chardet
click
cycler
decorator
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imageio
itsdangerous
Jinja2
Keras
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
networkx
numpy
oauthlib
opt-einsum
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scipy
six
tensorboard
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-gpu
termcolor
tifffile
tqdm
typing-extensions
urllib3
Werkzeug
wrapt
numba
git+https://github.com/ovs-code/HRNet-Human-Pose-Estimation.git
