{% extends 'base.html'%}
{% block head %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.1.0/cropper.min.css">
{% endblock %}

{% block content %}
{% if not image %}
<div class="card">
	<div class="card-body">
		<div class="row">
			<h2>Upload</h2>
			<form method="post" enctype="multipart/form-data">
				<input type="file" name="image">
				<button type="submit"  name="action" value="upload">Upload file</button>
			</form>
		</div>
	</div>
</div>
{% endif %}
{% if image %}
<!-- <div class="row">
	<p>Uploaded file: <a href="{{ image }}">{{ image }}</a></p>
</div> -->
<div class="row">
	<div class="col-7">
		<h2>Input Image</h2>
		<div class="scan">
            <img id="inputImage" src="{{ image }}" />
            <script src="../node_modules/cropperjs/dist/cropper.js"></script>
            <canvas id="resultsCanvas"></canvas>
		</div>
	</div>
</div>
{% if text %}
	{{ text }}
{% endif %}
</div>
{% endif %}
{% endblock %}