/* body {
  background-color: #213a64;
} */

.navbar {
    background-color: #f8f8f8;
  /* background-color: #213a64; */
}

.results {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

.logo {
    width: 300px;
    display: block;
}

.scan {
  width: 100%;
  position: relative;
}

#resultsCanvas {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  z-index: 2;
  left: 0;
  top: 0;
}

#inputImage {
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

/* Ensure the size of the image fit the container perfectly */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}