/* body {
  background-color: #213a64;
} */

.navbar {
    background-color: #f8f8f8;
  /* background-color: #213a64; */
}

.results {
  position: sticky;
  position: -webkit-sticky;
  top: 10px;
}

.logo {
    width: 300px;
    display: block;
}

.scan {
  width: 100%;
  position: relative;
}

#resultsCanvas {
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  z-index: 2;
  left: 0;
  top: 0;
}

#inputImage {
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

/* Ensure the size of the image fit the container perfectly */
img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.not-visible {
  visibility: hidden;
}

.hiddenradio [type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.hiddenradio [type=radio]:checked + canvas{
  outline: 2px solid rgb(37, 228, 53);
}

.img-label {
  width: 100%;
  background-color: black;
  display: block;
  z-index: 2;
}

canvas {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;

}
